page {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  position: relative;
  overflow: hidden;
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

img {
  max-width: 300px;
  height: 100px;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
#customers tr:nth-child(even){background-color: #a4abac;}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f058a0;
  color: white;
}

/* Here begin my own markups */
#dateFurnizor {
    text-align: left;
    border: 1px solid black;
    margin: 3px solid blue;
}

#dateFactura {
    text-align: center;
    border: 1px solid black;
    margin-top: 0px;
    padding-top: 0px;
}

#dateBeneficiar {
    text-align: right;
    border: 1px solid black;
}

#facturaFiscala {
    text-align: right;
}

.lastInfo {
    padding: 4px;
}