<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="http://localhost:8080/styles.css"/>

</head>
<body>

<page size="A4">

    <table>
        <tr>
            <th>
                <div>
                    <img th:src="@{classpath:static/ferendia.png}" alt="No img available"/>
                </div>
            </th>
            <th>
                <div class="col-sm text-center">
                </div>
            </th>
            <th>
                <div id="facturaFiscala">
                    <h1>FACTURA FISCALA</h1>
                </div>
            </th>
        </tr>
    </table>



    <table>
        <tr>
            <th>
                <!--  Furnizor          -->
                <div id="dateFurnizor">
                    <div>DATE FURNIZOR</div>
                    <div>
                        <span>Furnizor: </span>
                        <span th:text="${providerName}"></span>
                    </div>
                    <div>
                        <span>Adresa: </span>
                        <span th:text="${providerAdress}"></span>
                    </div>
                    <div>
                        <span>Cod Inregistrare/ CUI: </span>
                        <span th:text="${registrationCode}"></span>
                    </div>
                    <div>
                        <span>Capital Social: </span>
                        <span th:text="${socialCapital}"></span>
                    </div>
                    <div>
                        <span>Nr. Registrul Comertului: </span>
                        <span th:text="${providerCUI}"></span>
                    </div>
                    <div>
                        <span>Forma Juridica: </span>
                        <span th:text="${legalForm}"></span>
                    </div>
                </div>
            </th>
            <th>
                <!-- Date Factura           -->
                <div id="dateFactura">
                    <div>DATE FACTURA</div>
                    <div>
                        <span>Nr. Inregistrare/ id: </span>
                        <span th:text="${invoiceId}"></span>
                    </div>
                    <div>
                        <span>Data: </span>
                        <span th:text="${date}"></span>
                    </div>
                </div>
            </th>
            <th>
                <!--  Date Beneficiar            -->
                <div id="dateBeneficiar">
                    <div>DATE BENEFICIAR</div>
                    <div>
                        <span>Beneficiar: </span>
                        <span th:text="${beneficiaryName}"></span>
                    </div>
                    <div>
                        <span>Adresa: </span>
                        <span th:text="${beneficiaryAdress}"></span>
                    </div>
                    <div>
                        <span>Cod Inregistrare / CUI: </span>
                        <span th:text="${beneficiaryCUI}"></span>
                    </div>
                </div>
            </th>
        </tr>
    </table>

    <div class="container">
        <table class="table table-bordered" id="customers">
            <thead>
            <tr>
                <th scope="col">Nr. Crt.</th>
                <th scope="col">Denumire Item</th>
                <th scope="col">Cantitate</th>
                <th scope="col">Pret unitar fara TVA</th>
                <th scope="col">Pret total fara TVA</th>
                <th scope="col">Valoare TVA</th>
                <th scope="col">Pret unitar cu TVA</th>
                <th scope="col">Pret total cu TVA</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${itemList}">
                <td th:text="${itemStat.index+1}"></td>
                <td th:text="${item.getItemName()}"></td>
                <td th:text="${item.getItemQuantity()}"></td>
                <td th:text="${item.getPricePerUnitNoVAT()}"></td>
                <td th:text="${item.getPricePerQuantityNoVAT_ROUNDED()}"></td>
                <td th:text="${item.getApplicableVAT()}"></td>
                <td th:text="${item.getPricePerUnitWithVAT_ROUNDED()}"></td>
                <td th:text="${item.getPricePerQuantityWithVAT_ROUNDED()}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div>
        <div class="lastInfo">TOTAL COSTURI</div>
        <div class="lastInfo">
            <span>Pret total fara TVA: </span>
            <span th:text="${totalPriceWithoutVAT+' lei'}"></span>
        </div>
        <div class="lastInfo">
            <span>Pret total cu TVA: </span>
            <span th:text="${totalPriceWithVAT+' lei'}"></span>
        </div>
    </div>
</page>
</body>
</html>