<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Bootstrap demo</title>
    <link rel="stylesheet" href="http://localhost:8080/styles.css"/>

</head>
<body>

<page>



    <table id="firstTable">
        <tr>
            <th class="colTab1">
                <div>
                    <img th:src="@{classpath:static/ferendia.png}" alt="No img available"/>
                </div>
            </th>
            <th class="colTab1">
                <div></div>
            </th>
            <th class="colTab1">
                <div id="col3Tab1">FACTURA FISCALA</div>
            </th>
        </tr>
    </table>



    <table  id="secondTable">
        <tr>
            <!--  Furnizor          -->
            <th class="colTab2" id="col1Tab2">
                <div align="left">
                    <div class="tab2titles">DATE FURNIZOR</div>
                    <div>
                        <span class="tab2keys">Furnizor: </span>
                        <span th:text="${providerName}"  class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Adresa: </span>
                        <span th:text="${providerAdress}"  class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Cod Inregistrare/ CUI: </span>
                        <span th:text="${registrationCode}"  class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Capital Social: </span>
                        <span th:text="${socialCapital}"  class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Nr. Registrul Comertului: </span>
                        <span th:text="${providerCUI}"  class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Forma Juridica: </span>
                        <span th:text="${legalForm}"  class="tab2values"></span>
                    </div>
                </div>
            </th>
            <!-- Date Factura           -->
            <th class="colTab2" id="col2Tab2">
                <div align="center">
                    <div class="tab2titles">DATE FACTURA</div>
                    <div>
                        <span class="tab2keys">Nr. Inregistrare/ id: </span>
                        <span th:text="${invoiceId}" class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Data: </span>
                        <span th:text="${date}" class="tab2values"></span>
                    </div>
                </div>
            </th>
            <!--  Date Beneficiar            -->
            <th class="colTab2" align="right" id="col3Tab2">
                <div>
                    <div class="tab2titles">DATE BENEFICIAR</div>
                    <div>
                        <span class="tab2keys">Beneficiar: </span>
                        <span th:text="${beneficiaryName}" class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Adresa: </span>
                        <span th:text="${beneficiaryAdress}" class="tab2values"></span>
                    </div>
                    <div>
                        <span class="tab2keys">Cod Inregistrare / CUI: </span>
                        <span th:text="${beneficiaryCUI}" class="tab2values"></span>
                    </div>
                </div>
            </th>
        </tr>
    </table>



    <div id="containerThirdTable">
        <table id="thirdTable">
            <thead>
            <tr>
                <th>Nr. Crt.</th>
                <th>Denumire Item</th>
                <th>Cantitate</th>
                <th>Pret unitar fara TVA</th>
                <th>Pret total fara TVA</th>
                <th>Valoare TVA</th>
                <th>Pret unitar cu TVA</th>
                <th>Pret total cu TVA</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${itemList}">
                <td th:text="${itemStat.index+1}"></td>
                <td th:text="${item.getItemName()}"></td>
                <td th:text="${item.getItemQuantity()}"></td>
                <td th:text="${item.getPricePerUnitNoVAT()}"></td>
                <td th:text="${item.getPricePerQuantityNoVAT_ROUNDED()}"></td>
                <td th:text="${item.getApplicableVAT()}"></td>
                <td th:text="${item.getPricePerUnitWithVAT_ROUNDED()}"></td>
                <td th:text="${item.getPricePerQuantityWithVAT_ROUNDED()}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="totals">
        <div id="totalCosturi">TOTAL COSTURI</div>
        <div style="padding-bottom: 10px">
            <span class="totalCosturiKey">Pret total fara TVA: </span>
            <span th:text="${totalPriceWithoutVAT+' lei'}"></span>
        </div>
        <div>
            <span class="totalCosturiKey">Pret total cu TVA: </span>
            <span th:text="${totalPriceWithVAT+' lei'}"></span>
        </div>
    </div>


</page>
</body>
</html>